{% extends 'main/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="{% static 'css/about.css' %}"> <!---about.css-->
{% endblock %}

{% block content %}
    <!-- Particle Background -->
    <div class="particles-bg" id="particles"></div>

    <!-- About Section -->
    <section class="about-section">
        <div class="container-fluid">
            <div class="container">
                <!-- About Card and Image Row -->
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <h1 style="font-size: 2.1em; padding-bottom: 20px;">
                            Know Who <strong class="blue">I'M</strong>
                        </h1>
                        
                        <!-- About Content -->
                        <div style="text-align: justify; font-size: 1.1rem; line-height: 1.8;">
                            <p>
                                Hi everyone, I'm <span class="blue">Alalou Hamid</span>
                                from <span class="blue">Tinghir, Morocco</span>.
                                <br />
                                I'm a passionate Python developer specializing in AI and generative models.
                                <br />
                                With a background in <span class="blue">Computer Science</span>,
                                I focus on building practical AI solutions.
                                <br />
                                <br />
                                When I'm not coding, you can find me:
                            </p>
                            <ul style="list-style: none; padding-left: 0;">
                                <li class="about-activity">
                                    <i class="fas fa-futbol"></i> Playing Football
                                </li>
                                <li class="about-activity">
                                    <i class="fas fa-film"></i> Watching Movies
                                </li>
                                <li class="about-activity">
                                    <i class="fas fa-brain"></i> Learning about cutting-edge ML/AI technologies
                                </li>
                            </ul>

                            <p style="color: var(--tertiary-color); font-style: italic; margin-top: 30px;">
                                "Still learning, always building. The best code is the next one I'll write!"
                            </p>
                            <p style="color: var(--primary-color); font-weight: 500;">
                                - Alalou Hamid
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-md-5 about-img text-center">
                        <img src="{% static 'images/about.png' %}"
                                alt="about" 
                                class="img-fluid">
                    </div>
                </div>

                <!-- Professional Skillset -->
                <h1 class="project-heading">
                    Professional <strong class="blue">Skillset</strong>
                </h1>

                <!-- Tech Stack -->
                <div class="row" style="justify-content: center; padding-bottom: 50px;">
                    <!-- Python -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-python-plain"></i>
                            <span class="tooltip-text">Python</span>
                        </div>
                    </div>
                    
                    <!-- PostgreSQL -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-postgresql-plain"></i>
                            <span class="tooltip-text">PostgreSQL</span>
                        </div>
                    </div>
                    
                    <!-- MongoDB -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-mongodb-plain"></i>
                            <span class="tooltip-text">MongoDB</span>
                        </div>
                    </div>
                    
                    <!-- Git -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-git-plain"></i>
                            <span class="tooltip-text">Git</span>
                        </div>
                    </div>
                    
                    <!-- Azure -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-azure-plain"></i>
                            <span class="tooltip-text">Azure</span>
                        </div>
                    </div>
                </div>

                <!-- Tools Section -->
                <h1 class="project-heading">
                    <strong class="blue">Tools</strong> I use
                </h1>

                <!-- Tool Stack -->
                <div class="row" style="justify-content: center; padding-bottom: 50px;">
                    <!-- Linux -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-linux-plain"></i>
                            <span class="tooltip-text">Linux</span>
                        </div>
                    </div>
                    
                    <!-- VS Code -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-vscode-plain"></i>
                            <span class="tooltip-text">VS Code</span>
                        </div>
                    </div>
                    
                    <!-- Postman -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="https://cdn.simpleicons.org/postman/FF6C37" 
                                    alt="Postman" 
                                    class="img-fluid custom-icon">
                            <span class="tooltip-text">Postman</span>
                        </div>
                    </div>
                    
                    <!-- Slack -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-slack-plain"></i>
                            <span class="tooltip-text">Slack</span>
                        </div>
                    </div>
                    
                    <!-- GitHub -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <i class="devicon-github-original"></i>
                            <span class="tooltip-text">GitHub</span>
                        </div>
                    </div>
                    
                    <!-- Docker -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="https://cdn.simpleicons.org/docker/2496ED" 
                                    alt="Docker" 
                                    class="img-fluid custom-icon">
                            <span class="tooltip-text">Docker</span>
                        </div>
                    </div>
                    

                    <!-- Elasticsearch -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="https://cdn.simpleicons.org/elasticsearch/005571" 
                                alt="Elasticsearch" 
                                class="img-fluid custom-icon">
                            <span class="tooltip-text">Elasticsearch</span>
                        </div>
                    </div>
                    
                    <!-- Apache Airflow -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="https://cdn.simpleicons.org/apacheairflow/017CEE" 
                                    alt="Apache Airflow" 
                                    class="img-fluid custom-icon">
                            <span class="tooltip-text">Airflow</span>
                        </div>
                    </div>
                    <!-- Ollama (self-hosted, put logo in /static/icons/ollama.svg) -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="{% static 'images/icons/ollama.svg' %}" 
                                alt="Ollama" 
                                class="img-fluid custom-icon">
                            <span class="tooltip-text">Ollama</span>
                        </div>
                    </div>

                    
            
                    <!-- Hugging Face -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="https://huggingface.co/front/assets/huggingface_logo-noborder.svg" 
                                alt="Hugging Face" 
                                class="img-fluid custom-icon">
                            <span class="tooltip-text">Hugging Face</span>
                        </div>
                    </div>
                    
                    <!-- LangChain (self-hosted, no CDN yet) -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="{% static 'images/icons/langchain.svg' %}" 
                                alt="LangChain" 
                                class="img-fluid custom-icon">
                            <span class="tooltip-text">LangChain</span>
                        </div>
                    </div>
                    
                    <!-- OpenAI -->
                    <div class="col-4 col-md-2">
                        <div class="tech-icons">
                            <img src="https://cdn.simpleicons.org/openai/412991" 
                                    alt="OpenAI" 
                                    class="img-fluid custom-icon">
                            <span class="tooltip-text">OpenAI</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}
